In [3]:
#1. Write a code to create a string with your name and print it
name = input("Enter Your Namw :")

print("Welcome" +" " + name)

Enter Your Namw : Dev

Welcome Dev

In [5]:
#2. Write a code to find the length of the string "Hello World"
length = len("Hello World")
length

11

In [8]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"
word = "Python Programming"
word[:3]

'Pyt'

In [6]:
#4. Write a code to convert the string "hello" to uppercase
word = "hello"
word.upper()

'HELLO'

In [11]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
word = "I like apple"
word.replace("apple","orange")

'I like orange'

In [14]:
#6. Write a code to create a list with numbers 1 to 5 and print it
l1 = [1,2,3,4,5]
for i in l1:
    print(i)

1
2
3
4
5

In [17]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
l1 = [1,2,3,4]
l1.append(10)
l1

[1, 2, 3, 4, 10]

In [23]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l1 = [1,2,3,4]
l1.remove(3)
l1

[1, 2, 4]

In [29]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l1 = ['a','b','c','d']
l1[1]

'b'

In [30]:
#10.  Write a code to reverse the list [10, 20, 30, 40, 50].
l1 = [10, 20, 30, 40, 50]
l1 [::-1]

[50, 40, 30, 20, 10]

In [31]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t1 = (100,200,300)
t1

(100, 200, 300)

In [32]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
t1 = ('red', 'green', 'blue', 'yellow')
t1[-2]

'blue'

In [33]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
t1 =(10,20,5,15)
max(t1)

20

In [35]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t1 = ('dog','cat','rabbit')
t1.index('cat')

1

In [42]:
#15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
f1 = ('apple','banna','kiwi')
if "kiwi" in f1:
    print(f"yes kiwi found on index = {f1.index("kiwi")}")    #i made more advanced using f string and more ui friendly

yes kiwi found on index = 2

In [1]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s1 = {'a','b','c','a','c'}
s1

{'a', 'b', 'c'}

In [2]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s1 =  {1, 2, 3, 4, 5}
s1.clear()
s1

set()

In [3]:
#18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s1 =  {1, 2, 3, 4, 5}
s1.remove(4)
s1

{1, 2, 3, 5}

In [5]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
u = s1.union(s2)
u

{1, 2, 3, 4, 5}

In [8]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1 = {1, 2, 3}
s2 = {3, 4, 5}
i = s1.intersection(s2)
i

{3}

In [11]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d1 = {'name':'Jonny' , "agw":21 , 'city':'Los angles'}
d1

{'name': 'Jonny', 'agw': 21, 'city': 'Los angles'}

In [13]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}
d1 = {'name':'Jonny' , "agw":21 , 'city':'Los angles'}
d1
d1['country'] = 'USA'
d1

{'name': 'Jonny', 'agw': 21, 'city': 'Los angles', 'country': 'USA'}

In [14]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d1 = {'name':'Jonny' , "agw":21 , 'city':'Los angles'}
d1['name']

'Jonny'

In [18]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d1.pop('age')
d1

{'name': 'Bob', 'city': 'New York'}

In [21]:
#25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d1 =  {'name': 'Alice', 'city': 'Paris'}
if 'city' in d1:
    print("Yes")

Yes

In [23]:
#26 .  Write a code to create a list, a tuple, and a dictionary, and print them all.
l1 = ["dev",21,True]
t1 = ('hi',21,'nancy',3)
d1 =  {'name': 'Alice', 'city': 'Paris'}

print("This is List",l1)
print("This is Tuple",t1)
print("This is dictionary",d1)

This is List ['dev', 21, True]
This is Tuple ('hi', 21, 'nancy', 3)
This is dictionary {'name': 'Alice', 'city': 'Paris'}

In [26]:
#27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
l1 = [45,55,31,32,12]
print("Before",l1)
l1.sort()  #
print("After",l1)

Before [45, 55, 31, 32, 12]
After [12, 31, 32, 45, 55]

In [28]:
#28.  Write a code to create a list with strings and print the element at the third index.
l1= ['Dev','alice','nusso','mogambo','khusnuma']
l1[3]

'mogambo'

In [34]:
#29. Write a code to combine two dictionaries into one and print the result
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
#30. Write a code to convert a list of strings into a set.
l1 = ["apple", "banana", "cherry", "apple"]
s1 = set()
for i in l1:
    s1.add(i)
s1

{'apple', 'banana', 'cherry'}